/* Common styles for all screen sizes */
:root {
  --background-dark: #2d354800;
  --text-light: #217bd4;
  --text-lighter: #ffffffe6;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  /* overflow: hidden; */
}

.particle-canvas {
  position: fixed;
  background: #111111;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  /* Set a negative z-index to place it behind other elements */
}

/* Header styles for larger screens */
.header {
  padding: 2rem 2rem;
  top: 0;
  z-index: 1;
}

.name,
.nav {
  display: block;
}

.nav {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  float: right;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  transition: transform 0.2s, box-shadow 0.2s, color 0.2s;
}

.nav-link:hover {
  color: #217bd4;
  transform: scale(1.5);
}


.header-empty,
.hero-header {
  display: inline-block;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin: 0 0;
  width: 100%;
  bottom: 0;
}

/* Style for the social media icons */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 20px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  transition: transform 0.2s, box-shadow 0.2s, color 0.2s;
}

.social-icons a:hover {
  color: #217bd4;
  transform: scale(1.2);
}

.btn {
  border: none;
  margin: 1rem 0;
  border-radius: 35px;
  background: var(--text-light);
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
}

/* ############################################################ */


/* Hide toggle */
@media (min-width: 1136px) {

  .sidebar,
  .toggle-btn {
    display: none;
  }

  .name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    float: left;
    margin-left: 4rem;
  }

  /* Hero section */
  .hero {
    margin-left: 6rem;
    margin-right: 6rem;
    color: #fff;
    text-align: left;
    padding: 100px 0;
    display: flex;
    /* Use flexbox for the layout */
    justify-content: space-between;
    /* Space between the two columns */
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .header-container {
    position: relative;
    display: inline-block;
    color: #217bd4;
  }

  .cursor {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 3px;
    height: 35px;
    background-color: #217bd4;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .image-container {
    margin-left: 10%;
  }

  .about {
    padding-left: 6rem;
    padding-right: 6rem;
    color: #fff;
    /* text-align: center; */
  }
  .about-content{
    margin: 5rem 10rem;
    text-align: left !important;
    font-size: larger;
  }

  .container-about {
    margin: 0 auto;
  }

  .header-about {
    text-align: center;
  }

  .about h1 {
    margin-bottom: 3rem;

  }

  .about h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

  }

  .about-img {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;

  }

  .about-img img {
    border: .2rem solid #217bd4;
    width: 90%;
    border-radius: 50%;

  }

  .about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #f7363600;
    border-bottom: .2rem solid #00000000;
    border-left: .2rem solid #217bd4;
    border-right: .2rem solid #217bd4;
  }

}




/* ############################################################ */




/* Responsive styles for smaller screens */
@media (max-width: 1136px) {
  .header {
    padding: 1rem;
  }

  .name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: -20vh;
    float: none;
  }

  .nav {
    display: none;
    /* Hide the navigation links */
  }

  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: -900px;
    /* Change left position to 0 */
    width: 100%;
    /* Change width to 100% */
    height: 100%;
    background: #111111c4;
    z-index: 2;
    transition: left 0.3s ease-in-out;
    display: flex;
    /* Use flexbox for centering */
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    /* Vertically center content */
    align-items: center;
    /* Horizontally center content */
  }

  .sidebar.active {
    left: 0;
  }

  .toggle-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    z-index: 3;
  }

  .image-container {
    margin-top: 40px;
  }

  /* Hero section */
  .hero {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #fff;
    text-align: left;
    padding: 100px 0;
    display: flex;
    /* Use flexbox for the layout */
    justify-content: space-between;
    /* Space between the two columns */
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .header-container {
    position: relative;
    display: inline-block;
    color: #217bd4;
  }

  .cursor {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 3px;
    height: 35px;
    background-color: #217bd4;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .image-container {
    margin-left: 0%;
  }


  .about {
    padding-left: 6rem;
    padding-right: 6rem;
    color: #fff;
    text-align: center;
  }
  .about-content{
    margin: 5rem 1rem;
    text-align: left !important;
    font-size: larger;
  }

  .container-about {
    margin: 0 auto;
  }


  .header-about {
    text-align: center;
  }

  .about h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;

  }

  .about h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

  }

  .about-img {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;

  }

  .about-img img {
    border: .2rem solid #217bd4;
    width: 90%;
    border-radius: 50%;

  }

  .about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #f7363600;
    border-bottom: .2rem solid #00000000;
    border-left: .2rem solid #217bd4;
    border-right: .2rem solid #217bd4;
  }

}



/* ############################################################ */


/* Responsive styles for phone screens */
@media (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }

  .name {
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  .nav-links {
    font-size: 1rem;
  }

  .image-container {
    margin-top: 40px;
    margin-left: 0;
  }

  /* Hero section */
  .hero {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #fff;
    text-align: left;
    padding: 100px 0;
    display: flex;
    /* Use flexbox for the layout */
    justify-content: space-between;
    /* Space between the two columns */
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .header-container {
    position: relative;
    display: inline-block;
    color: #217bd4;
  }

  .cursor {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 3px;
    height: 35px;
    background-color: #217bd4;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .about {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
    text-align: center;
  }
  .about-content{
    margin: 5rem 1rem;
    text-align: left !important;
    font-size: larger;
  }

  .container-about {
    margin: 0 auto;
  }


  .header-about {
    text-align: center;
  }

  .about h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;

  }

  .about h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

  }

  .about-img {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;

  }

  .about-img img {
    border: .2rem solid #217bd4;
    width: 90%;
    border-radius: 50%;

  }

  .about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #f7363600;
    border-bottom: .2rem solid #00000000;
    border-left: .2rem solid #217bd4;
    border-right: .2rem solid #217bd4;
  }


}


/* Initial styling for the image */
.img-responsive {
  opacity: 0;
  /* Initially, make the text invisible */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  /* Added animation for opacity and transform */
  transform: translateX(+100%);
  /* Initially, move the text off-screen to the left */
}

/* Hover effect - darkens the image on hover */
.image-container:hover .img-responsive {
  filter: brightness(70%);
}

/* Animation to move the image into view on page load */
.img-responsive.animate {
  opacity: 1;
  /* Make the text visible */
  transform: translateX(0);
  /* Move the text to its original position */
}

/* Initial styling for the text */
.animate-text-from-left {
  opacity: 0;
  /* Initially, make the text invisible */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  /* Added animation for opacity and transform */
  transform: translateX(-100%);
  /* Initially, move the text off-screen to the left */
}

/* Animation to move the text into view on page load */
.animate-text-from-left.animate {
  opacity: 1;
  /* Make the text visible */
  transform: translateX(0);
  /* Move the text to its original position */
}


/* Slide in Slide out Sections */

/* CSS for section transition */
.content-section {
  width: 100%;
  left: 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.content-section.active {
  opacity: 1;
  transform: translateX(0);
}


/* Project Cards */


.projects h1{
  color: #fff;
  text-align: center;
}
.project-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
  margin: 5vh;
  --bs-card-bg: #fff0;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


/* About content */




.about-content li{
  display: flex;
  margin: 0.6rem 0;
  justify-content: center;
}
.about-content li span{
  flex: 1;
}
.about-content li span:first-child{
  color: #217bd4;
  font-weight: 600;
}


/* Skills */
.skills {
  color: #fff;
  text-align: left;
  padding: 100px 0;
  display: flex;
  /* Use flexbox for the layout */
  justify-content: space-between;
  /* Space between the two columns */
  padding: 0 4rem 0 4rem;
}

.skills h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
}
.skills p {
  text-align: center;
  margin-bottom: 2rem;
}

.skill{
  margin-bottom: 2rem;
}

.skills-card{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background: #217bd4;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #217bd4;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}