/* Common styles for all screen sizes */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  /* overflow: hidden; */
}

.particle-canvas {
  position: absolute;
  background: #111111;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  /* Set a negative z-index to place it behind other elements */
}

/* Header styles for larger screens */
.header {
  padding: 2rem 2rem;
  top: 0;
  z-index: 1;
}

.name,
.nav {
  display: block;
}

.nav {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  float: right;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
}

.nav-link:hover {
  color: #217bd4;
}


.header-empty,.hero-header{
  display: inline-block;
}

/* ############################################################ */


/* Hide toggle */
@media (min-width: 1136px) {

  .sidebar,
  .toggle-btn {
    display: none;
  }

  .name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    float: left;
    margin-left: 4rem;
  }

  /* Hero section */
  .hero {
    margin-left: 6rem;
    margin-right: 6rem;
    color: #fff;
    text-align: left;
    padding: 100px 0;
    display: flex;
    /* Use flexbox for the layout */
    justify-content: space-between;
    /* Space between the two columns */
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .header-container {
    position: relative;
    display: inline-block;
    color: #217bd4;
  }

  .cursor {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 3px;
    height: 35px;
    background-color: #217bd4;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
  .image-container {
    margin-left: 30%;
  }

}




/* ############################################################ */




/* Responsive styles for smaller screens */
@media (max-width: 1136px) {
  .header {
    padding: 1rem;
  }

  .name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: -20vh;
    float: none;
  }

  .nav {
    display: none;
    /* Hide the navigation links */
  }

  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: -900px;
    /* Change left position to 0 */
    width: 100%;
    /* Change width to 100% */
    height: 100%;
    background: #111111c4;
    z-index: 2;
    transition: left 0.3s ease-in-out;
    display: flex;
    /* Use flexbox for centering */
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    /* Vertically center content */
    align-items: center;
    /* Horizontally center content */
  }

  .sidebar.active {
    left: 0;
  }

  .toggle-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    z-index: 3;
  }

  .image-container {
    margin-top: 40px;
  }

  /* Hero section */
  .hero {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #fff;
    text-align: left;
    padding: 100px 0;
    display: flex;
    /* Use flexbox for the layout */
    justify-content: space-between;
    /* Space between the two columns */
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .header-container {
    position: relative;
    display: inline-block;
    color: #217bd4;
  }

  .cursor {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 3px;
    height: 35px;
    background-color: #217bd4;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .image-container {
    margin-left: 10%;
  }

}



/* ############################################################ */


/* Responsive styles for phone screens */
@media (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }

  .name {
    font-size: 1.2rem;
    padding-left: 1rem;
  }

  .nav-links {
    font-size: 1rem;
  }
  
  .image-container {
    margin-top: 40px;
    margin-left: 0;
  }

  /* Hero section */
  .hero {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #fff;
    text-align: left;
    padding: 100px 0;
    display: flex;
    /* Use flexbox for the layout */
    justify-content: space-between;
    /* Space between the two columns */
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .header-container {
    position: relative;
    display: inline-block;
    color: #217bd4;
  }

  .cursor {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 3px;
    height: 35px;
    background-color: #217bd4;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }


}


/* Initial styling for the image */
.img-responsive {
  opacity: 0;
  /* Initially, make the text invisible */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  /* Added animation for opacity and transform */
  transform: translateX(+100%);
  /* Initially, move the text off-screen to the left */
}

/* Hover effect - darkens the image on hover */
.image-container:hover .img-responsive {
  filter: brightness(70%);
}

/* Animation to move the image into view on page load */
.img-responsive.animate {
  opacity: 1;
  /* Make the text visible */
  transform: translateX(0);
  /* Move the text to its original position */
}

/* Initial styling for the text */
.animate-text-from-left {
  opacity: 0;
  /* Initially, make the text invisible */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  /* Added animation for opacity and transform */
  transform: translateX(-100%);
  /* Initially, move the text off-screen to the left */
}

/* Animation to move the text into view on page load */
.animate-text-from-left.animate {
  opacity: 1;
  /* Make the text visible */
  transform: translateX(0);
  /* Move the text to its original position */
}