/* Common styles for all screen sizes */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 1.5;
}

#particles-js {
  width: 100%;
  background: #111111;
}

/* Header styles for larger screens */
.header {
  padding: 2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.name {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 3rem;
  float: left;
}

.name,
.nav {
  display: block;
}

.nav {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  float: right;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.nav-link:hover {
  color: #135597;
}

/* Hide toggle */
@media (min-width: 768px) {
  .sidebar,
  .toggle-btn {
    display: none;
  }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .name {
    padding-left: 1rem;
    float: none;
  }

  .nav {
    display: none; /* Hide the navigation links */
  }

  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #111111;
    z-index: 2;
    transition: left 0.3s ease-in-out;
  }

  .sidebar.active {
    left: 0;
  }

  .toggle-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    z-index: 3;
  }
}

/* Responsive styles for phone screens */
@media (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  /* Adjust other styles as needed for smaller screens */
}